* {
	    
	box-sizing: border-box;
	
}

html *{
	font-family: Ubuntu;}

body {
	margin: 10px;
	background-color: #ece8e8;}


@media only screen and (max-width: 600px){
    #left{width: 100% !important;}
    #right {width: 100% !important;}

}


